[package]
name = "tap_core"
version = "0.7.0"
edition.workspace = true
license.workspace = true
description = "Core Timeline Aggregation Protocol library: a fast, efficient and trustless unidirectional micro-payments system."

[dependencies]
rand_core = "0.6.4"
serde = { version = "1.0", features = ["derive", "rc"] }
rand = "0.8.5"
thiserror = "1.0.38"
ethereum-types = { version = "0.14.1" }
rstest = "0.17.0"
ethers = { version = "2.0.0", default-features = false }
ethers-core = "2.0.0"
ethers-contract = "2.0.0"
ethers-contract-derive = "2.0.0"
anyhow = "1"
alloy-sol-types = { version = "0.6.0", features = ["eip712-serde"] }
alloy-primitives = { version = "0.6.0", features = ["serde"] }

strum = "0.24.1"
strum_macros = "0.24.3"
async-trait = "0.1.72"
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }

[dev-dependencies]
criterion = { version = "0.5", features = ["async_std"] }


[features]
default = ["in_memory"]
in_memory = []

[[bench]]
name = 'timeline_aggretion_protocol_benchmark'
harness = false
