[package]
name="tap_core"
version = "0.1.0"
edition.workspace = true
license.workspace = true
description = "Core Timeline Aggregation Protocol library: a fast, efficient and trustless unidirectional micro-payments system."

[dependencies]
primitive-types={version="0.12.1", features=["serde"]}
rand_core="0.6.4"
serde={ version="1.0", features=["derive"] }
rand="0.8.5"
thiserror="1.0.38"
ethereum-types={version="0.14.1"}
rstest = "0.17.0"
async-std = { version = "1.5", features = ["attributes"] }
ethers = "2.0.0"
ethers-core = "2.0.0"
ethers-contract = "2.0.0"
ethers-contract-derive = "2.0.0"

strum = "0.24.1"
strum_macros = "0.24.3"
futures = "0.3.17"

[dev-dependencies]
criterion = { version = "0.5", features = ["async_std"] }

[[bench]]
name = 'timeline_aggretion_protocol_benchmark'
harness = false
