[package]
name = "tap_core"
version = "2.0.0"
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "README.md"
description = "Core Timeline Aggregation Protocol library: a fast, efficient and trustless unidirectional micro-payments system."

[dependencies]
alloy.workspace = true
serde.workspace = true
tokio.workspace = true
anyhow.workspace = true
rand.workspace = true
thiserror = "2.0.11"
async-trait = "0.1.72"
anymap3 = "1.0.0"

[dev-dependencies]
criterion = { version = "0.5", features = ["async_std"] }
rstest.workspace = true
insta.workspace = true
serde_json.workspace = true


[features]
default = ["in_memory"]
in_memory = []

[[bench]]
name = 'timeline_aggretion_protocol_benchmark'
harness = false
