[package]
name = "tap_aggregator"
version = "0.4.1"
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "README.md"
description = "A JSON-RPC service for the Timeline Aggregation Protocol that lets clients request an aggregate receipt from a list of individual receipts."

[[bin]]
name = "tap_aggregator"
path = "src/main.rs"

[dependencies]
alloy.workspace = true
anyhow.workspace = true
axum = { version = "0.7.5", features = [
    "http1",
    "json",
    "matched-path",
    "original-uri",
    "query",
    "tokio",
], default-features = false }
clap = { version = "4.5.15", features = ["derive", "env"] }
futures-util = "0.3.28"
hyper = { version = "1", features = ["full"] }
jsonrpsee = { workspace = true, features = ["server", "macros"] }
lazy_static = "1.4.0"
log = "0.4.19"
prometheus = "0.13.3"
prost = "0.13.3"
rayon = "1.10.0"
serde.workspace = true
serde_json.workspace = true
strum = { version = "0.26.3", features = ["derive"] }
tap_core = { path = "../tap_core", version = "3.0.1" }
tokio.workspace = true
tonic = { version = "0.12.3", features = ["transport", "zstd"] }
tower = { version = "0.5.2", features = ["util", "steer"] }
tracing-subscriber = "0.3.17"
tap_graph = { version = "0.2.0", path = "../tap_graph", features = ["v2"] }

[build-dependencies]
tonic-build = "0.12.3"

[dev-dependencies]
jsonrpsee = { workspace = true, features = ["http-client", "jsonrpsee-core"] }
rand.workspace = true
rstest.workspace = true
