[package]
name="tap_aggregator"
version.workspace = true
edition.workspace = true
license.workspace = true

[[bin]]
name = "tap_aggregator"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.70"
tokio = { version = "1.27.0", features = ["macros", "signal"] }
tap_core = { path = "../tap_core" }
jsonrpsee = { version = "0.18.0", features = ["server", "macros"] }
ethers-signers = "2.0.3"
clap = { version = "4.2.4", features = ["derive", "env"] }
ethers-core = "2.0.3"

[dev-dependencies]
jsonrpsee = { version = "0.18.0", features = ["http-client", "jsonrpsee-core"] }
rand_core = "0.6.4"
rstest = "0.17.0"
