[package]
name = "tap_aggregator"
version = "0.3.2"
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "README.md"
description = "A JSON-RPC service for the Timeline Aggregation Protocol that lets clients request an aggregate receipt from a list of individual receipts."

[[bin]]
name = "tap_aggregator"
path = "src/main.rs"

[dependencies]
tap_core = { path = "../tap_core", version = "2.0.0" }
serde.workspace = true
alloy.workspace = true
anyhow.workspace = true
tokio.workspace = true
serde_json.workspace = true
jsonrpsee = { workspace = true, features = ["server", "macros"] }
clap = { version = "4.5.15", features = ["derive", "env"] }
strum = { version = "0.26.3", features = ["derive"] }
tracing-subscriber = "0.3.17"
log = "0.4.19"
prometheus = "0.13.3"
axum = { version = "0.7.5", features = [
  "http1",
  "json",
  "matched-path",
  "original-uri",
  "query",
  "tokio",
], default-features = false }
futures-util = "0.3.28"
lazy_static = "1.4.0"
ruint = "1.10.1"
tower = { version = "0.4", features = ["util"] }

[dev-dependencies]
jsonrpsee = { workspace = true, features = ["http-client", "jsonrpsee-core"] }
rand.workspace = true
rstest.workspace = true
