[package]
name="tap_aggregator"
version = "0.1.5"
edition.workspace = true
license.workspace = true
readme = "README.md"
description = "A JSON-RPC service for the Timeline Aggregation Protocol that lets clients request an aggregate receipt from a list of individual receipts."

[[bin]]
name = "tap_aggregator"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.70"
tokio = { version = "1.27.0", features = ["macros", "signal"] }
tap_core = { version = "0.5.1", path = "../tap_core" }
jsonrpsee = { version = "0.18.0", features = ["server", "macros"] }
ethers-signers = "2.0.3"
clap = { version = "4.2.4", features = ["derive", "env"] }
ethers-core = "2.0.3"
serde = { version = "1.0.163", features = ["derive"] }
serde_json = { version = "1.0.96", features = ["raw_value"] }
strum = { version = "0.24.1", features = ["strum_macros", "derive"] }
tracing-subscriber = { version = "0.3.17" }
log = "0.4.19"
prometheus = "0.13.3"
axum = "0.6.18"
futures-util = "0.3.28"
lazy_static = "1.4.0"
alloy-sol-types = { version = "0.4.2", features = ["eip712-serde"]}
alloy-primitives = { version = "0.4.2", features = ["serde"]}
ethereum-types = "0.14.1"
ruint = "1.10.1"

[dev-dependencies]
jsonrpsee = { version = "0.18.0", features = ["http-client", "jsonrpsee-core"] }
rstest = "0.17.0"
