[package]
name = "tap_integration_tests"
version = "0.1.8"
edition.workspace = true
license.workspace = true
autotests = false
description = "Integration tests for the Timeline Aggregation Protocol."
publish = false

[dependencies]
tap_aggregator = { version = "0.2.0", path = "../tap_aggregator" }
tap_core = { version = "0.7.0", path = "../tap_core" }
jsonrpsee = { version = "0.18.0", features = ["http-client", "server"] }
ethers = "2.0.0"
clap = { version = "4.2.4", features = ["derive", "env"] }
rstest = "0.17.0"
rand = "0.8.5"
futures = "0.3.28"
anyhow = "1.0.71"
tokio = "1.28.2"
prometheus = "0.13.3"
alloy-sol-types = { version = "0.5.0", features = ["eip712-serde"] }
alloy-primitives = { version = "0.5.0", features = ["serde"] }

[[test]]
name = "integration_tests"
path = "tests/lib.rs"
