[package]
name = "tap_integration_tests"
version = "0.1.10"
edition.workspace = true
license.workspace = true
repository.workspace = true
autotests = false
description = "Integration tests for the Timeline Aggregation Protocol."
publish = false

[dependencies]
tap_aggregator = { path = "../tap_aggregator" }
tap_core = { path = "../tap_core", version = "*" }
rand.workspace = true
anyhow.workspace = true
tokio.workspace = true
alloy.workspace = true
jsonrpsee.workspace = true


[dev-dependencies]
rstest = "0.22.0"
alloy = { workspace = true, features = ["signer-mnemonic"] }

[[test]]
name = "integration_tests"
path = "tests/lib.rs"
