on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 #v1.8.0
        with:
          app_id: ${{ secrets.PR_AUTOMATION_APP_ID }}
          private_key: ${{ secrets.PR_AUTOMATION_APP_PEM }}
      - uses: google-github-actions/release-please-action@8016a6649226f2ec88ed05441c11bb5410a22d29 #v3.7.10
        with:
          command: manifest
          token: ${{ steps.generate_token.outputs.token }}
