# From https://github.com/actions-rs/meta/blob/edeebc14493689cee04cb6d941c42c36a86e9d18/recipes/quickstart.md
name: tests

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  check:
    name: cargo check
    runs-on: ubuntu-latest
    container: 
      image: rust:latest 
    steps:
      - uses: actions/checkout@v2
      - run: cargo check
        
  test:
    name: cargo test
    runs-on: ubuntu-latest
    container: 
      image: rust:latest
    steps:
      - uses: actions/checkout@v2
      - run: cargo test
        
  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    container: 
      image: rust:latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          rustup component add rustfmt
          cargo fmt --all -- --check
          
  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    container: 
      image: rust:latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: |
           rustup component add clippy
           cargo clippy --all-features -- -D clippy::all
  
  code-coverage:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: read
    container:
      image: rust:latest
    steps:
      - uses: actions/checkout@v3
      - name: Update Rust and Install LLVM Tools
        run: | 
            rustup update stable
            rustup component add llvm-tools-preview
            cargo install cargo-llvm-cov
      - name: Generate Code Coverage and PR
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info 
      - uses: romeovs/lcov-reporter-action@v0.3.1
        with:
          lcov-file: lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
